<nav
  class="h-full w-64 p-5 flex flex-col border-r border-gray-900 max-sm:hidden"
>
  <div class="mb-8">
    <h1 class="text-xl font-bold">Social</h1>
  </div>
  <ul class="flex flex-col gap-4">
    <li class="flex">
      <a
        routerLink="/posts"
        routerLinkActive="active"
        class="flex items-center rounded-full gap-2 p-2 transition w-1/2 hover:bg-neutral-900"
      >
        <span class="material-icons">home</span>
        Feed
      </a>
    </li>
    <li>
      <a
        class="flex items-center rounded-full gap-2 p-2 transition w-3/4 hover:bg-neutral-900 nav-link opacity-50 cursor-not-allowed"
      >
        <span class="material-icons">person</span> Profile (Soon)
      </a>
    </li>
  </ul>
</nav>
