<div class="flex flex-col max-w-2xl overflow-hidden border-r border-gray-900">
  <div class="flex h-full items-center gap-8 border-gray-800 m-2">
    <span
      class="material-icons cursor-pointer hover:bg-gray-950 p-3 rounded-full transition-colors"
      (click)="goBack()"
      >arrow_back</span
    >
    <h1 class="text-2xl font-bold">Post</h1>
  </div>

  @if (post$ | async; as post) {
  <a
    [routerLink]="['/posts', post.userId]"
    class="block p-5 border-b border-gray-800 hover:bg-gray-950 transition-colors"
  >
    <app-post-card [post]="post"></app-post-card>
  </a>
  }

  <app-comments-list
    [remoteComments]="(comments$ | async) || []"
    [localComments]="localComments"
  ></app-comments-list>
  <app-comment-form
    [postId]="postId"
    (commentAdded)="onCommentAdded($event)"
  ></app-comment-form>
</div>
