<div class="flex flex-col gap-4">
  <span class="px-4 py-2 text-lg font-semibold border-b border-gray-900"
    >Comments</span
  >
  <ng-container
    *ngIf="remoteComments?.length || localComments?.length; else noComments"
  >
    <div
      class="flex flex-col px-2 border-b border-gray-900 p-5 gap-2"
      *ngFor="let comment of remoteComments"
    >
      <span class="text-sm">{{ comment.email }} - {{ comment.name }}</span>

      <p class="text-gray-700">{{ comment.body }}</p>
    </div>

    <div
      class="flex flex-col px-2 border-b border-gray-900 p-5 gap-2"
      *ngFor="let comment of localComments"
    >
      <span class="text-sm">{{ comment.email }} - {{ comment.name }}</span>
      <p class="text-gray-700">{{ comment.body }}</p>
    </div>
  </ng-container>
  <ng-template #noComments>
    <p class="text-gray-500 italic">No comments yet.</p>
  </ng-template>
</div>
